.cardWr {
  margin: 20px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: var(--bgColor);
    color: var(--textColor);
    width: 300px;
    height: 200px;
    padding: 15px 20px;
    border-radius: 6px;
    transition: all 0.3s;

    @media only screen and (max-width: 840px) {
      padding: 10px;
    }

    @media only screen and (max-width: 375px) {
      max-width: 280px;
    }

    &:hover {
      transform: scale(1.03);
    }

    .projectName {
      margin: 0;
      font-weight: 400;
    }

    .delete {
      position: absolute;
      right: 20px;
      top: 15px;
      width: 23px;
      height: 23px;
      opacity: 0.3;
    }

    .delete:hover {
      opacity: 1;
    }

    .delete:before,
    .delete:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 23px;
      width: 2px;
      background-color: var(--textColor);
    }

    .delete:before {
      transform: rotate(45deg);
    }

    .delete:after {
      transform: rotate(-45deg);
    }

    .cardBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .openLinkModal {
      display: flex;
      justify-content: center;
    }
  }
}

.roll-appear {
  opacity: 0;
}
.roll-enter {
  opacity: 0;
}
.roll-enter-done {
  transform: rotate(720deg) scale(3);
  opacity: 1;
  transition: transform 1000ms, opacity 1000ms;
}
.roll-exit {
  transform: rotate(720deg) scale(3);
  opacity: 1;
}
.roll-exit-active {
  transform: rotate(0deg) scale(1);
  opacity: 0;
  transition: transform 1000ms, opacity 1000ms;
}
