.controlPanel {
  display: flex;
  margin: 0 20px;

  @media only screen and (max-width: 840px) {
    flex-direction: column;
  }

  .addBtn {
    display: flex;
    align-items: center;
    width: 200px;
    margin-right: 40px;
    height: 53px;

    @media only screen and (max-width: 840px) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .btnText {
      margin-top: 4px;
      font-size: 14px;
    }
  }

  .sortWr {
    display: flex;
    margin-right: 40px;

    @media only screen and (max-width: 840px) {
      margin-right: 0;
      margin-bottom: 10px;
    }

    .sorting {
      width: 200px;
      margin-right: 10px;
    }

    .sortIcon {
      align-self: center;
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
      }
    }

    .sortIconAsc {
      transform: rotate(180deg);
    }
  }

  .colorsSwitcher {
    & > :last-child {
      @media only screen and (max-width: 840px) {
        font-size: 10px;
      }
    }
  }
}
