.controlPanel {
  display: flex;
  margin: 0 20px;

  .addBtn {
    display: flex;
    align-items: center;
    width: 200px;
    margin-right: 40px;

    .btnText {
      margin-top: 4px;
      font-size: 14px;
    }
  }

  .sorting {
    width: 200px;
    margin-right: 10px;
  }

  .sortIcon {
    align-self: center;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
    }
  }

  .sortIconAsc {
    transform: rotate(180deg);
  }
}
